In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv("nutrient.csv")

In [4]:
df2 = pd.read_csv('food_nutrient.csv')

In [8]:
desired_ids = [1003] + list(range(1210, 1234))

In [10]:
filtered_df1 = df[df['id'].isin(desired_ids)]

In [20]:
df1=filtered_df1[['id', 'name']]

In [21]:
columns_to_select = ['fdc_id' ,'nutrient_id', 'amount']
df2 = df2[columns_to_select]

In [27]:
desired_ids = [1003] + list(range(1210, 1234))
df2 = df2[df2['nutrient_id'].isin(desired_ids)]
df2

        fdc_id  nutrient_id  amount
0       167512         1003   5.880
14      167513         1003   4.340
38      167514         1003   6.100
51      167515         1003   8.000
73      167516         1210   0.074
...        ...          ...     ...
644102  175304         1210   0.403
644103  175304         1211   1.290
644104  175304         1215   0.726
644105  175304         1217   0.941
644106  175304         1218   0.833

[99974 rows x 3 columns]

In [28]:
df1

       id                                          name
4    1003                                       Protein
211  1210                                    Tryptophan
212  1211                                     Threonine
213  1212                                    Isoleucine
214  1213                                       Leucine
215  1214                                        Lysine
216  1215                                    Methionine
217  1216                                       Cystine
218  1217                                 Phenylalanine
219  1218                                      Tyrosine
220  1219                                        Valine
221  1220                                      Arginine
222  1221                                     Histidine
223  1222                                       Alanine
224  1223                                 Aspartic acid
225  1224                                 Glutamic acid
226  1225                                       Glycine
227  1226                                       Proline
228  1227                                        Serine
229  1228                                Hydroxyproline
230  1229  Cysteine and methionine(sulfer containig AA)
231  1230     Phenylalanine and tyrosine (aromatic  AA)
232  1231                                    Asparagine
233  1232                                      Cysteine
234  1233                                     Glutamine

In [30]:
merger = pd.merge(df2, df1 , left_on=('nutrient_id'), right_on=('id'))

In [35]:
merger

sorted_df = merger.sort_values(by=['fdc_id', 'nutrient_id'])


print(sorted_df)

       fdc_id  nutrient_id  amount    id           name
0      167512         1003   5.880  1003        Protein
1      167513         1003   4.340  1003        Protein
2      167514         1003   6.100  1003        Protein
3      167515         1003   8.000  1003        Protein
4      167516         1003   6.580  1003        Protein
...       ...          ...     ...   ...            ...
28077  175304         1217   0.941  1217  Phenylalanine
33126  175304         1218   0.833  1218       Tyrosine
58305  175304         1219   1.452  1219         Valine
63375  175304         1220   1.989  1220       Arginine
68451  175304         1221   0.565  1221      Histidine

[99974 rows x 5 columns]

In [36]:
sorted_df.to_csv('sorted_df.csv', index=False)

In [39]:
sixteen=sorted_df[sorted_df['fdc_id'] ==  167535]

In [44]:
total_sum = sixteen['amount'].sum()
sum_for_nutrient_1003 = sixteen[sixteen['nutrient_id'] == 1003]['amount'].sum()
result = total_sum - sum_for_nutrient_1003

print("Total Sum:", total_sum)
print("Sum for Nutrient 1003:", sum_for_nutrient_1003)
print("Result:", result)

Total Sum: 14.688
Sum for Nutrient 1003: 8.01
Result: 6.678000000000001

In [48]:
cols_to_read = ['fdc_id', 'description', 'food_category_id']

In [49]:
food = pd.read_csv('food.csv' , usecols=cols_to_read)

In [51]:
joined = pd.merge(sorted_df, food, on = 'fdc_id', how='inner')

In [53]:
joined.to_csv('joined.csv', index=False)

In [65]:
cols_to_read = ['id', 'description']

In [67]:
category = pd.read_csv('food_category.csv', usecols=cols_to_read)

In [69]:
category_joined = pd.merge(joined, category, left_on='food_category_id', right_on='id')

In [71]:
category_joined = category_joined.drop(['id_x', 'id_y'], axis=1)

In [74]:
category_joined.to_csv('category_joined.csv' , index= False)

In [75]:
category_joined

,fdc_id,nutrient_id,amount,name,description_x,food_category_id,description_y
0,167512,1003,5.880,Protein,"Pillsbury Golden Layer Buttermilk Biscuits, Ar...",18,Baked Products
1,167513,1003,4.340,Protein,"Pillsbury, Cinnamon Rolls with Icing, refriger...",18,Baked Products
2,167514,1003,6.100,Protein,"Kraft Foods, Shake N Bake Original Recipe, Coa...",18,Baked Products
3,167515,1003,8.000,Protein,"George Weston Bakeries, Thomas English Muffins",18,Baked Products
4,167516,1003,6.580,Protein,"Waffles, buttermilk, frozen, ready-to-heat",18,Baked Products
...,...,...,...,...,...,...,...
99969,175304,1217,0.941,Phenylalanine,"Game meat, goat, cooked, roasted",17,"Lamb, Veal, and Game Products"
99970,175304,1218,0.833,Tyrosine,"Game meat, goat, cooked, roasted",17,"Lamb, Veal, and Game Products"
99971,175304,1219,1.452,Valine,"Game meat, goat, cooked, roasted",17,"Lamb, Veal, and Game Products"
99972,175304,1220,1.989,Arginine,"Game meat, goat, cooked, roasted",17,"Lamb, Veal, and Game Products"
99973,175304,1221,0.565,Histidine,"Game meat, goat, cooked, roasted",17,"Lamb, Veal, and Game Products"

In [76]:
category_joined['amount'].max()

88.32